@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Urbanist:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('http://fonts.cdnfonts.com/css/retroica');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
/* html {
    font: normal 1em sans-serif;
    color: #555;
} */

html {
    overflow-x: hidden;
}

h1 {
    font-size: 6.25em;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

.projects-title {
    color: #f8f8ff;
    font-family: retroica;
    font-weight: 100;
    padding-top: 1em;
    font-size: 5.4em;
    user-select: none;
}

.title-about {
    color: #f8f8ff;
    font-family: retroica !important;
    font-weight: 100;
    padding-top: 1em;
    font-size: 5.65em;
    user-select: none;
}

.title-contact {
    color: #f8f8ff;
    font-family: retroica !important;
    font-weight: 100;
    padding-top: 1em;
    padding-bottom: 10vh;
    font-size: 4.35em;
    user-select: none;
}

.title{
    font-family: retroica;
    user-select: none;
    margin-bottom: 0.1em;
    color: #1a191e;
}

.title-mob{
    font-family: retroica;
    user-select: none;
    margin-bottom: 0.1em;
    color: #1a191e;
    font-size: 1em;
}

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
}

.front-text{
    text-align: center;
}

.link-slide h3 {
    font-family: 'Montserrat', sans-serif !important; 
    font-weight: 100;
    font-size: 1.2em;
}

.link-slide p {
    font-family: 'Lato', sans-serif !important;
    font-size: 1.1em;
}

.link-slide h2 {
    font-family: 'Lato', sans-serif !important;
    font-size: 1.4em;
    text-decoration: underline;
}

.about-us {
    background-color: rgb(103, 103, 103);
    color: #e9e7e3;
    height: 100vh;
    /* justify-content: center;
    align-items: center;  
    flex-direction: center; */
    /* text-align: center; */
    font-family: Montserrat;
    /* display: inline-block; */
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0ch;
}

.grid-child {
    width: 50vw;
    text-align: center;
    align-items: center;
}

.about-us h1 {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

.about-us hr {
    width: 200px;
    margin: 20px;
    display: inline-block;
}

.about-us p {
    margin: 20px 62px;
}

.about-us .line-up {
    padding-top: 50px;
    left: 30%;
    align-items: center;  
    flex-direction: column;
    text-align: center;  
}

.about-us button {
    color: white;
    background-color: rgb(103, 103, 103);
    border: none;
    font-size: 25px;
}

.about-us button:hover {
    color: #bab8b4;
}

div.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 0.8s all ease;
}

div.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.background {
    position:absolute;
    display:block;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #f8f8ff;
}

.line-up div {
    width: 300px;
}

.about-us img {
    width: 100px;
}

.projects {
    background-color: white;
    height: 100vh;
}


.hero button {
    border-radius: 0.25em;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #f2f0ed;
    box-shadow: 0 0.4em #969494;
    opacity: 1;
    text-decoration: none;
    outline: none;
    border: white 20px;
    cursor: pointer;
    position: relative;
}

/* .buttons {
    text-align: center;
    display: flex;
    justify-content: center;
} */

.hero button{
    padding: 15px;
    font-size: 21px;
    color: #63616C;
    font-family: Montserrat;
}

.hero button:hover {
    -webkit-box-shadow: 0 0.25em #9E9DA0;
    box-shadow: 0 0.25em #9E9DA0;
    top: 0.125em;
}

.hero button:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    top: 0.375em;
}

.projects {
    text-align: center;
    color: white;
    background-color: #1a191e;
}

.swiper {
    width: 100%;
    height: 80%;

    /* top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    color: #e9e7e3;
    border-color: rgb(178, 176, 176);
    
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    user-select: none;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    /* background-color: black; */
    -webkit-align-items: center;
    align-items: center;
    transition: all 5s ease-out;

    /* border-left: 1px solid;
    border-right: 1px solid; */
    /* border-bottom: 1px solid; */
}

.link-slide {
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: #1a191e;
}

.swiper-slide-active * {
    /* background-color: rgb(55, 55, 55); */
    transition-property: background-color;
    transition-duration: 150ms;
    transition-delay: 150ms;
    transition: all 150ms ease-out;
    color: #e9e7e3 !important;
}
/* 
.swiper-slide-active:hover {
    background-color: rgb(66, 66, 66);
    transition: all 150ms ease-in;

} */

.swiper-slide:hover img {
    filter: brightness(50%)
}

.linkdiv {
    position: absolute;
}

#link {
    opacity: 0
}

.swiper-slide:hover #link {
    opacity: 1;
    font-style: normal;
    color: #e9e7e3;
    transition: all 150ms ease-in;
    text-decoration: underline; 
}

.swiper-wrapper h3 {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

.swiper-wrapper p {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

.swiper-wrapper a {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

.swiper-button-next:after {
    color: white;
    /* background-color: #63616C;
    padding: 10px;
    margin-right: 10px;
    border-radius: 100px; */
}

.swiper-button-prev:after {
    color: white;
}

.swiper-slide img {
    display: block;
    width: 80%;
    top: 0;
    left: 0;
    transform: translate(10%, 0); 
    object-fit: cover;
    border-radius: 10px;
}

.contact-us {
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;  
    flex-direction: column;
}

.contact-us h1 {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    color: white;
}

.front-text {
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
    height: 100%;
}

.contact-us hr {
    width: 200px;
    margin-bottom: 20px;
}

.contact-us form {
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    height: 100%;
}

.contact-us button{
    padding: 15px;
    font-size: 21px;
    color: white;
    background-color: #b3b1ae;
    font-family: Montserrat;
}

.contact-us button:hover {
    -webkit-box-shadow: 0 0.25em #9E9DA0;
    box-shadow: 0 0.25em #9E9DA0;
    top: 0.125em;
}

.contact-us button:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    top: 0.375em;
}

.contact-us input, textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    border-radius: 10px;
}

.imgThing {
    margin-top: 1em;
    margin-bottom: 1em;
  }
